.blk:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
}
      
.blk2 {
        animation: bounce 20s ease infinite;
}

@keyframes bounce {

        0%,
        50%,
        100% {
                transform: translateY(0);
        }

        25% {
                transform: translateY(-10px);
        }

        75% {
                transform: translateY(10px);
        }
}

.animo {
        animation: slideRight 10s linear infinite;
}

@keyframes slideRight {
        0% {
                transform: translateX(0);
        }

        50% {
                transform: translateX(5px);
                /* Adjust the distance the image moves */
        }

        100% {
                transform: translateX(0);
        }
}