.to-img{
    transition: transform 0.3s ease-in-out;

}
.to-img:hover{
    transform: scale(1.1);
}
/* @keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */